@media screen and (min-width: 1200px) {
  .flex {
    display: flex;
  }

  .col {
    width: 50%;
    flex-shrink: 0;

    padding-bottom: 63px;
  }

  .col:nth-child(odd) {
    padding-right: 40px;
    position: relative;
    z-index: 4;
  }

  .col:nth-child(even) {
    padding-left: 40px;
  }

  .col:not(.col:last-child) {
    border-right: 1px solid #8cc540;
  }
}

@media screen and (max-width: 1199px) {
  .col:not(.col:last-child) {
    margin-bottom: 20px;
  }
}
